$font-stack:"Roboto", Arial, sans-serif;
$primary-color: #3b3b3b;
$secondary-color: #ddd;
$card-color: #fff;
$border: #d8dadb;
$warning: #f00;

body {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
  font-size: 16px;
  color: $primary-color;
  background: $secondary-color;
}

.column {
  width: 40%;
  padding: 2.5% 5% 10% 5%;
  float: left;

  &.property-list {
    background: #f5f5f6;
  }

  h2 {
    font-size: 26px;
  }

  article {
    background-color: $card-color;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-bottom: 2px solid $border;

    header {
      padding: 2%;
    }

    div.showcase {
       img {
         width: 100%;
       }
    }

    p.price, span.trigger{
      font-weight: bold;
      font-size: 22px;
      margin:0;
      padding: 5%;
    }

    span.trigger {
      display: block;
      background: $card-color;
      position: absolute;
      z-index: 1;
      bottom: -20%;
      width: 90%;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: all 0.5s ease; /* Safari */
      transition: all 0.5s ease;
    }

    &:hover span.trigger {
      bottom: 0;
    }



  }

  #saved-properties span.trigger {
    color: $warning;
  }

  img {
    display: inline-block;
    max-width: 100%;
  }

}



.message {
  background: $card-color;
  border: 2px solid $border;
  padding: 15px;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 760px) {

  .column {
    width: 45%;
    padding: 0 2.5%;

    h2 {
      font-size: 16px;
    }

    article {

      margin-bottom: 15px;

      p.price, span.trigger{
        font-size: 12px;
        padding: 6% 2%;
      }
      span.trigger {
        width: 96%;
      }
    }
  }
}
